html {
    /* Primary Colors */
    --light-green: #ccff99;
    --light-brown: #e0e095;
    --green: #7cc475;
    --orange: #ffcc00;
    --dark-green: #293a28;
    --black: #000;
    --blue: #0000ff;
    --white: #FFF;
    /* Button Color Hover */
    --dark-grey: #808080;
    color: var(--text-color);
}
:root{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: var(--green);
    position: relative;
    width: 100%;
    margin-left: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    padding: .5em 1em;
    /* background-color: var(--green); */
}
header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
h1, h2, h3 {
    text-align: center;
}
 /* Navigation */
 .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.nav-brand {
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--black);
    flex-basis: 65%;
    margin-left: 1em;
}
.hamburger {
    display: block;
    cursor: pointer;
    flex-basis: 35%;
    height: 70px;
    padding-top: 1.5em;

}
.bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: var(--orange);
    transition: all .3s ease;

}
.nav-menu {
    list-style: none;
    padding: .5rem;
    position: fixed;
    left: -100%;
    top: 55px;
    gap: 0;
    flex-direction: column;
    background-color: var(--orange);
    width: 100%;
    text-align: center;
    transition: .3s;
}
.nav-menu.active {
    left: 0;
}
.nav-items {
    margin: 1em 0;
}
.nav-link {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    transition: .7s ease;
}
.nav-link:hover {
    color: var(--white);
    transform: scaleY(1.5);
    padding: .5em;
    border-radius: 5px;
    background-color: var(--blue);
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
/* Main */
main{
    margin-top: 80px;
}

.main {
    /* width: 69%; */
    background-color: #fff;
    /* border-radius: .5em; */
    margin-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
}
.wrapper-main{
    background-color: #fff;
    padding-left: 1em;
    padding-right: 1em;
}
.wrapper-main a {
    text-decoration: none;
}
.sidebar{
    /* width: calc(30% - .5em); */
    margin-left: 1em;
    background-color: var(--light-green);
    padding: 1.5em;
    /* border-radius: .5em; */
    margin-bottom: .5em;
}
.centered {
    text-align: center;
}
.dog {

    text-align: center;
    border-style: solid;
    border-color: var(--black);
    margin: 1em;
}
.dog > a > img {
    max-width: 90%;
}
.bottom-dog {
    display: flex;
    justify-content: space-around;
}
/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: .5em;
    padding-bottom: .5em;
    /* padding: 2em, 2em, 2em, 2em; */
    background-color: var(--light-brown);
}
.facebook {
    text-align: center;
    border-style: solid;
    border-color: var(--black);
    padding: .5em;
}
.collar {
    text-align: center;
    border-style: solid;
    border-color: var(--black);
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}


/* Tablet viewport */
@media (min-width:45em) {
    /* Navigation */
    .wrapper {
        width: 85%;
    }
    .nav-brand {
        flex:3 33% ;
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        /* display: block; */
        position: static;
        justify-content: space-between;
        align-items: center;
        margin-left: 10em;
    }
    .hamburger {
        display: none;
        cursor: pointer;
    }
    /* .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: fixed;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: #3e8e41;} */
    
 /* li:hover,
li:focus-within {
  background: red;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
  clear: both;
  width: 100%;
} */
    /* .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: #3e8e41;} */
    /* Main */
    .main-dog {
        max-width: 50%;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto, auto;
        grid-gap: 2em;
    }
    .container1 {
        grid-column: 1/2;
    }
    .container2 {
        grid-column: 2/2;
    }

    /* Footer */
    .facebook {
        padding: 1em;
    }
    .collar {
        padding-left: 1em;
        padding-right: 1em;
    }
}
/* Desktop Viewport */
@media (min-width:64em) {
    .wrapper {
        width: 80%;
    }
    .container {
        display: flex;
    }
    .main {
        width: 69%;
        background-color: #fff;
        /* border-radius: .5em; */
        margin-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .sidebar{
        width: calc(30% - .5em);
        margin-left: 1em;
        background-color: var(--light-green);
        padding: 1.5em;
        /* border-radius: .5em; */
        margin-bottom: .5em;
    }
    .bottom-dog {
        flex-direction: column;
    }
}